<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    </body>
    <footer>
        <div class="footer-line">
            <hr>
            <div class="footer-icons">
                <ul>
                    <li><a  href="https://github.com/pawelpiotrowsky" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                    <li><a href="https://github.com/pawelpiotrowsky" target="_blank"><i class="far fa-address-card fa-2x"></i></a></li>
                    <li><a href="https://github.com/pawelpiotrowsky" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</html>